#map {
	height: 100%;
  	position: absolute; 
  	top: 0; 
  	bottom: -200px; 
  	left: 0; 
  	right: 0; 
  	z-index: 0;
 }

h1 {
	text-align: center;
  font-size: 20px;
}

h2 {
  color: #0050ff;
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
}

 #content {
 	overflow: scroll;
 	text-align: center;
 }

 .keyword {
 	font-weight: bold;
 	color: #0050ff;
 }

.row:after {
    content: "";
    display: table;
    clear: both;
}

 .column {
    float: left;
    width: 50%;
}